{"openapi":"3.0.0","info":{"title":"OpenAI Chat Completions API","version":"1.0.0"},"servers":[{"url":"https://api.acedata.cloud","description":"Ace Data Cloud API Server"}],"security":[{"bearerAuth":[]}],"paths":{"/openai/chat/completions":{"post":{"summary":"OpenAI Chat Completion API, compatible with the official API format.","security":[{"bearerAuth":[]}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","required":["choices","created","id","model","object"],"properties":{"id":{"type":"string","description":"The unique identifier for dialogue completion."},"model":{"type":"string","description":"Model used for completing this conversation."},"usage":{"type":"object","required":["prompt_tokens","completion_tokens","total_tokens"],"properties":{"total_tokens":{"type":"integer","description":"The total number of tokens used in this request (prompt + completion)."},"prompt_tokens":{"type":"integer","description":"The number of tokens in the prompt."},"completion_tokens":{"type":"integer","description":"The number of tokens in the generated completion content."},"prompt_tokens_details":{"type":"object","properties":{"audio_tokens":{"type":"integer","description":"The number of audio input tokens in the prompt."},"cached_tokens":{"type":"integer","description":"The number of tokens hit in the cache in the prompt."}},"description":"Details of token usage for prompts."},"completion_tokens_details":{"type":"object","properties":{"audio_tokens":{"type":"integer","description":"The number of tokens in the audio output generated by the model."},"reasoning_tokens":{"type":"integer","description":"The number of tokens generated by the model for inference."},"accepted_prediction_tokens":{"type":"integer","description":"The number of tokens that appear in the completion of the predicted content when using predicted outputs."},"rejected_prediction_tokens":{"type":"integer","description":"The number of tokens in the predicted content that do not appear in the completion when using predicted outputs."}},"description":"Complete the token usage details."}},"description":"Usage statistics for this completion request."},"object":{"enum":["chat.completion"],"type":"string","description":"Object type, fixed as `chat.completion`."},"choices":{"type":"array","items":{"type":"object","required":["finish_reason","index","message"],"properties":{"index":{"type":"number","description":"The index of the option in the list of options."},"message":{"type":"object","required":["role"],"properties":{"role":{"enum":["assistant"],"type":"string","description":"The role of the author of the message."},"audio":{"type":"object","nullable":true,"required":["id","data","expires_at"],"properties":{"id":{"type":"string","description":"The unique identifier for the audio reply."},"data":{"type":"string","description":"Base64 encoded audio bytes generated by the model."},"expires_at":{"type":"integer","description":"The audio reply is no longer available on the server (for multi-turn conversations) Unix timestamp (seconds)."},"transcript":{"type":"string","description":"Text transcription of audio generated by the model."}},"description":"When the audio output modality is requested, this object contains the audio response data returned by the model."},"content":{"type":"string","nullable":true,"description":"Content of the message."},"refusal":{"type":"string","nullable":true,"description":"The message generated by the model rejecting the answer."},"tool_calls":{"type":"array","items":{"type":"object","required":["id","type","function"],"properties":{"id":{"type":"string","description":"The ID of the tool call."},"type":{"enum":["function"],"type":"string","description":"The type of tool invocation. Currently, only `function` is supported."},"function":{"type":"object","required":["name","arguments"],"properties":{"name":{"type":"string","description":"The name of the function to be called."},"arguments":{"type":"string","description":"The parameters used when calling the function are generated by the model in JSON format."}},"description":"Function for model invocation."}}},"nullable":true,"description":"Tool calls generated by the model, such as function calls."}},"description":"A message completing a dialogue generated by the model."},"logprobs":{"type":"object","nullable":true,"description":"The logarithmic probability information of this option."},"finish_reason":{"enum":["stop","length","tool_calls","content_filter","function_call"],"type":"string","description":"Reasons for the model to stop generating tokens. If the model reaches a natural stopping point or hits the provided stopping sequence, it is `stop`; if it reaches the maximum token number specified in the request, it is `length`; if content is omitted due to content filter flags, it is `content_filter`; if the model called a tool, it is `tool_calls`; if the model called a function (deprecated), it is `function_call`."}}},"description":"Dialogue completion options list. If `n` is greater than 1, it may include multiple options."},"created":{"type":"number","description":"Create the Unix timestamp (seconds) when this conversation is completed."},"system_fingerprint":{"type":"string","description":"This fingerprint indicates the backend configuration used for the model run. It can be used in conjunction with the request parameter `seed` to understand when changes that may affect determinism occurred in the backend."}},"description":"Indicates a dialogue completion response returned by the model based on the provided input."}}},"description":"OK, request successful."},"400":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"token_mismatched","message":"The specified token is not matched with API."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"token_mismatched","description":"Response error code."},"message":{"type":"string","example":"The specified token is not matched with API.","description":"Error message of the response."}}},"trace_id":{"type":"string","description":"The tracking ID for this request."}}},{"type":"object","example":{"error":{"code":"api_not_implemented","message":"The API is not implemented."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"api_not_implemented","description":"Response error code."},"message":{"type":"string","example":"The API is not implemented.","description":"Error message of the response."}}},"trace_id":{"type":"string","description":"The tracking ID for this request."}}}]}}},"description":"Request error, possibly due to missing or invalid parameters."},"401":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"invalid_token","message":"The specified token is invalid or wrong."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_token","description":"Response error code."},"message":{"type":"string","example":"The specified token is invalid or wrong.","description":"Error message of the response."}}},"trace_id":{"type":"string","description":"The tracking ID for this request."}}}]}}},"description":"Unauthorized, authorization token is invalid or missing."},"429":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"too_many_requests","message":"You have exceeded the rate limit."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"too_many_requests","description":"Response error code."},"message":{"type":"string","example":"You have exceeded the rate limit.","description":"Error message of the response."}}},"trace_id":{"type":"string","description":"The tracking ID for this request."}}}]}}},"description":"Too many requests, rate limit exceeded."},"500":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"api_error","message":"Internal server error."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"api_error","description":"Response error code."},"message":{"type":"string","example":"Internal server error.","description":"Error message of the response."}}},"trace_id":{"type":"string","description":"The tracking ID for this request."}}}]}}},"description":"Internal server error, an exception occurred on the server side."}},"parameters":[{"in":"header","name":"accept","schema":{"enum":["application/json"],"type":"string"},"required":false,"description":"Specify the response format returned by the server."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["model","messages"],"properties":{"n":{"rank":30,"type":"number","default":1,"example":1,"maximum":128,"minimum":1,"nullable":true,"description":"Generate how many dialogue completion options for each input message."},"seed":{"rank":54,"type":"integer","nullable":true,"description":"If specified, the system will strive to perform deterministic sampling, so that repeated requests using the same `seed` and parameters return the same results. Determinism cannot be guaranteed; please refer to the `system_fingerprint` in the response to monitor backend changes."},"stop":{"rank":55,"oneOf":[{"type":"string","description":"Single stop sequence."},{"type":"array","items":{"type":"string"},"maxItems":4,"minItems":1,"description":"Up to 4 stop sequences."}],"nullable":true,"description":"A maximum of 4 sequences, the API will stop generating when it reaches these sequences. The returned text does not include the stopping sequences."},"user":{"rank":70,"type":"string","description":"A unique identifier representing your end users, which helps the platform monitor and detect abusive behavior."},"audio":{"rank":27,"type":"object","nullable":true,"required":["voice","format"],"properties":{"voice":{"enum":["alloy","ash","ballad","coral","echo","fable","nova","onyx","sage","shimmer"],"type":"string","description":"The tone used by the model in its responses."},"format":{"enum":["wav","aac","mp3","flac","opus","pcm16"],"type":"string","description":"Specify the output audio format."}},"description":"Audio output parameters. Required when requesting audio output via `modalities: [\"audio\"]`."},"model":{"enum":["gpt-oss:free","gpt-5.5:free","gpt-5:free","gpt-4.1:free","gpt-4o:free","gpt-4o-mini:free","gpt-5.6-luna","gpt-5.6-terra","gpt-5.6-sol","gpt-5.5","gpt-5.5-pro","gpt-5.4","gpt-5.4-mini","gpt-5.4-nano","gpt-5.4-pro","gpt-5.2","gpt-5.1","gpt-5.1-all","gpt-5","gpt-5-mini","gpt-5-nano","gpt-4","gpt-4.1","gpt-4.1-mini","gpt-4.1-nano","gpt-4o","gpt-4o-2024-05-13","gpt-4o-all","gpt-4o-image","gpt-4o-mini","gpt-35-turbo-16k","o1","o1-mini","o1-pro","o3","o3-mini","o3-pro","o4-mini"],"rank":0,"type":"string","example":"gpt-4o-mini","description":"Model ID to be used."},"store":{"rank":72,"type":"boolean","default":false,"nullable":true,"description":"Whether to store the output of this conversation completion request for model distillation or product evaluation."},"tools":{"rank":35,"type":"array","items":{"type":"object","required":["type","function"],"properties":{"type":{"enum":["function"],"type":"string","description":"Type of tool. Currently only `function` is supported."},"function":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"The name of the function to be called."},"parameters":{"type":"object","description":"The parameters accepted by this function are described by a JSON Schema object."},"description":{"type":"string","description":"Description of the function's functionality."}},"description":"Function definition."}}},"nullable":true,"description":"List of tools that can be called by the model. Currently, only functions are supported as tools."},"top_p":{"rank":51,"type":"number","default":1,"example":1,"maximum":1,"minimum":0,"nullable":true,"description":"An alternative method for temperature sampling, called nucleus sampling, considers only the portion of tokens whose cumulative probability mass reaches top_p. For example, 0.1 means only considering the tokens that account for the top 10% of cumulative probability mass. It is generally recommended to adjust only one of these parameters or `temperature`, rather than adjusting both simultaneously."},"stream":{"rank":15,"type":"boolean","default":false,"nullable":true,"description":"If set to true, it will send partial messages incrementally like ChatGPT."},"logprobs":{"rank":60,"type":"boolean","default":false,"nullable":true,"description":"Whether to return the logarithmic probability of the output tokens. If true, it will return the logarithmic probability of each output token in the `content` of `message`."},"messages":{"rank":10,"type":"array","items":{"type":"object","required":["role"],"properties":{"name":{"type":"string","description":"Optional names for participants. Used to provide information to the model to distinguish different participants under the same role."},"role":{"enum":["user","assistant","system","developer","tool"],"type":"string","description":"The role of the message."},"content":{"oneOf":[{"type":"string","description":"Text content of the message."},{"type":"array","items":{"oneOf":[{"type":"object","required":["type","text"],"properties":{"text":{"type":"string","description":"Text content."},"type":{"enum":["text"],"type":"string","description":"Types of content sections."}}},{"type":"object","required":["type","image_url"],"properties":{"type":{"enum":["image_url"],"type":"string","description":"Types of content sections."},"image_url":{"type":"object","required":["url"],"properties":{"url":{"type":"string","description":"The URL of the image, or Base64 encoded image data."},"detail":{"enum":["auto","low","high"],"type":"string","default":"auto","description":"Specify the detail level of the image."}},"description":"Image URL or Base64 encoded image data."}}},{"type":"object","required":["type","input_audio"],"properties":{"type":{"enum":["input_audio"],"type":"string","description":"The type of the content part is fixed as `input_audio`."},"input_audio":{"type":"object","required":["data","format"],"properties":{"data":{"type":"string","description":"Base64 encoded audio data."},"format":{"enum":["wav","mp3"],"type":"string","description":"The format for encoding audio data. Currently supports `wav` and `mp3`."}},"description":"Audio data sent to the model."}}},{"type":"object","required":["type","file"],"properties":{"file":{"type":"object","properties":{"file_id":{"type":"string","description":"The ID of the uploaded file used as input."},"filename":{"type":"string","description":"Filename, used to pass the file to the model in string form."},"file_data":{"type":"string","description":"Base64 encoded file data, used when passing the file as a string to the model."}},"description":"File data sent to the model."},"type":{"enum":["file"],"type":"string","description":"The type of the content part is fixed as `file`."}}}]},"minItems":1,"description":"An array composed of content parts with explicit types, which can include input types such as text, image_url, input_audio, and file."}],"description":"The content of the message. Plain text messages can be in string format, while multimodal messages (containing text, image_url, input_audio, and file) can be in the form of an array of content parts."},"refusal":{"type":"string","nullable":true,"description":"The assistant's refusal to answer message. Use when `role` is `assistant`."},"tool_calls":{"type":"array","items":{"type":"object","required":["id","type","function"],"properties":{"id":{"type":"string","description":"The ID of the tool call."},"type":{"enum":["function"],"type":"string","description":"Type of tool. Currently only supports `function`."},"function":{"type":"object","required":["name","arguments"],"properties":{"name":{"type":"string","description":"The name of the function to be called."},"arguments":{"type":"string","description":"The parameters used when calling the function are generated by the model in JSON format."}}}}},"description":"The tool calls generated by the model in the previous round (when `role` is `assistant`). Please return it along with the `tool` message that contains the results of the tool call."},"tool_call_id":{"type":"string","description":"The tool call that responds to this message. It is required when the role is `tool`."}}},"minItems":1,"description":"List of messages that make up the current conversation."},"metadata":{"rank":73,"type":"object","nullable":true,"description":"A set of key-value pairs that can be attached to an object, with a maximum of 16 pairs. It can be used to store additional information about the object in a structured format. The key is a string of up to 64 characters, and the value is a string of up to 512 characters.","additionalProperties":{"type":"string"}},"logit_bias":{"rank":62,"type":"object","nullable":true,"description":"Modify the likelihood of a specified token appearing in the completion. Accept a JSON object that maps the token (specified by its token ID in the tokenizer) to a bias value between -100 and 100.","additionalProperties":{"type":"integer"}},"max_tokens":{"rank":20,"type":"number","nullable":true,"description":"The maximum number of tokens that can be generated in dialogue completion."},"modalities":{"rank":26,"type":"array","items":{"enum":["text","audio"],"type":"string"},"nullable":true,"description":"You hope for the output type generated by the model. Most models default to `[\"text\"]`. The `gpt-4o-audio-preview` model can also be used to generate audio. If you want the model to generate both text and audio responses, you can use `[\"text\", \"audio\"]`."},"prediction":{"rank":28,"type":"object","nullable":true,"required":["type","content"],"properties":{"type":{"enum":["content"],"type":"string","description":"Predict the type of content, fixed as `content`."},"content":{"oneOf":[{"type":"string","description":"Content for prediction."},{"type":"array","items":{"type":"object","required":["type","text"],"properties":{"text":{"type":"string"},"type":{"enum":["text"],"type":"string"}}}}],"description":"Content for prediction."}},"description":"Static prediction output content, such as the content of a text file that is being regenerated. It can be used to shorten response time when most of the response content is already known in advance."},"temperature":{"rank":50,"type":"number","default":1,"example":1,"maximum":2,"minimum":0,"nullable":true,"description":"The sampling temperature used ranges from 0 to 2. Higher values (such as 0.8) will make the output more random, while lower values (such as 0.2) will make the output more focused and certain."},"tool_choice":{"rank":36,"oneOf":[{"enum":["none","auto","required"],"type":"string","description":"Control which tool the model calls (if any)."},{"type":"object","required":["type","function"],"properties":{"type":{"enum":["function"],"type":"string","description":"Type of tool. Currently only `function` is supported."},"function":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"The name of the function to be called."}}}},"description":"Specify the tools that the designated model should use."}],"description":"Control which tool the model calls (if any). `none` means the model will not call any tools; `auto` means the model can choose between generating a message or calling one/multiple tools; `required` means the model must call one or more tools."},"service_tier":{"enum":["auto","default","flex","scale","priority"],"rank":71,"type":"string","default":"auto","nullable":true,"description":"Specify the processing type used for the designated service request. Set to `auto` to let the platform choose automatically, `default` for standard pricing/performance, `flex` for a slower but cheaper Flex processing layer, and `priority` for the fastest processing layer on supported models."},"top_logprobs":{"rank":61,"type":"integer","maximum":20,"minimum":0,"nullable":true,"description":"The integer value between 0 and 20 specifies the number of most likely tokens to return at each token position, each accompanied by the corresponding log probability. When using this parameter, `logprobs` must be set to `true`."},"stream_options":{"rank":16,"type":"object","nullable":true,"properties":{"include_usage":{"type":"boolean","description":"If set, an additional chunk will be streamed back before the `data: [DONE]` message. The `usage` field of this chunk displays the total token usage statistics for the entire request, while the `choices` field will always be an empty array."}},"description":"Options for streaming responses. Use only when setting `stream: true`."},"response_format":{"rank":40,"oneOf":[{"type":"object","required":["type"],"properties":{"type":{"enum":["text"],"type":"string","description":"Plain text response format."}},"description":"Default text response format."},{"type":"object","required":["type"],"properties":{"type":{"enum":["json_object"],"type":"string","description":"Enable JSON Object mode."}},"description":"JSON Object response format. The model must be instructed to output JSON in the prompt."},{"type":"object","required":["type","json_schema"],"properties":{"type":{"enum":["json_schema"],"type":"string","description":"Enable structured outputs to ensure that the model's output matches the provided JSON Schema."},"json_schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"The name of the response format. It can only contain a-z, A-Z, 0-9, underscores, and hyphens."},"schema":{"type":"object","description":"The schema of the response format is described using a JSON Schema object."},"strict":{"type":"boolean","default":false,"nullable":true,"description":"Whether to enable strict schema adherence."},"description":{"type":"string","description":"Description of the purpose of this response format."}}}},"description":"Use the structured output response format of JSON Schema."}],"description":"The object format that the specified model must output. Setting it to `{ \"type\": \"json_schema\", \"json_schema\": {...} }` enables structured output; setting it to `{ \"type\": \"json_object\" }` enables the older JSON Object mode."},"presence_penalty":{"rank":53,"type":"number","default":0,"example":0,"maximum":2,"minimum":-2,"nullable":true,"description":"The value ranges from -2.0 to 2.0. Positive values will penalize based on whether the token has already appeared in the generated text, thereby increasing the model's likelihood of discussing new topics."},"reasoning_effort":{"enum":["minimal","low","medium","high"],"rank":25,"type":"string","default":"medium","nullable":true,"description":"The inference input level of the constraint reasoning model (o1/o3/o4/gpt-5 series). Currently supports `minimal`, `low`, `medium`, and `high`. Reducing the inference input can lead to faster responses and decrease the number of tokens used for inference in the responses."},"frequency_penalty":{"rank":52,"type":"number","default":0,"example":0,"maximum":2,"minimum":-2,"nullable":true,"description":"The value ranges from -2.0 to 2.0. Positive values will penalize based on the frequency of the token appearing in the generated text, thereby reducing the likelihood of the model repeating the same line word for word."},"web_search_options":{"rank":38,"type":"object","properties":{"user_location":{"type":"object","nullable":true,"properties":{"type":{"enum":["approximate"],"type":"string"},"approximate":{"type":"object","properties":{"city":{"type":"string"},"region":{"type":"string"},"country":{"type":"string"},"timezone":{"type":"string"}}}},"description":"Approximate location parameters for search."},"search_context_size":{"enum":["low","medium","high"],"type":"string","default":"medium","description":"High-level guidelines on the size of the context window space occupied by the search."}},"description":"Options for web search tools, for use with the GPT-4o model that has built-in search (`gpt-4o-search-preview`, `gpt-4o-mini-search-preview`)."},"parallel_tool_calls":{"rank":37,"type":"boolean","default":true,"description":"Whether to enable parallel function calls during tool invocation."},"max_completion_tokens":{"rank":21,"type":"integer","nullable":true,"description":"The maximum number of tokens that can be generated for a single completion, including visible output tokens and inference tokens. For newer models (o1/o3/o4/gpt-5 series and other inference models), this parameter replaces `max_tokens`."}}},"example":{"n":1,"model":"gpt-4o-mini","top_p":1,"messages":[{"role":"user","content":"Hello!"}],"temperature":1,"presence_penalty":0,"frequency_penalty":0}}},"required":true}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}}}}