# Public deployment metadata only. Do not add credentials or service-account keys here.
GOOGLE_CLOUD_PROJECT_ID=lukulu-academy
GOOGLE_CLOUD_CONSOLE_URL=https://console.cloud.google.com/?project=lukulu-academy
